html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .section-header {
        @apply text-black mb-14 text-5xl
    }

    .info-paragraph {
        @apply text-lg text-gray-600;

    }

    .experience-topics {
        @apply text-indigo-700 text-2xl;
    }
}
